<!--The content below is only a placeholder and can be replaced.-->
<div class="masthead">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <i class="fa " style="font-size:30px;color:green" aria-hidden="true">鬺</i>
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">展开</button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/tasks"> <i class="fa fa-home" aria-hidden="true"></i> 大厅 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fa fa-video-camera" aria-hidden="true"></i> 直播商城</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> <i class="fa fa-user" aria-hidden="true"></i> 个人中心</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="/jobs"> 我的工作</a>
              <a class="dropdown-item" href="#">Action 2</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-xl-8  col-sm-12">
        <router-outlet></router-outlet>
      </div>
      <div class="col-xl-4">angular 7,bootrap4</div>
    </div>
  </div>
</main>
