<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        咖啡馆开业
      </mat-panel-title>
      <mat-panel-description>
        <span>[转发]</span><span>有限时间：</span><span>30小时</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    content
    <mat-action-row>
      <button mat-button color="primary">领取</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      title2
    </mat-expansion-panel-header>
    content2
  </mat-expansion-panel>
</mat-accordion>