<div class="jumbotron p-3 mb-3">
  <div class="input-group">
    <input type="text" class="form-control" name="name" id="name" placeholder="搜索" aria-label="">

    <span class="input-group-btn">
      <button class="btn btn-outline-secondary mr-2" type="button" aria-label=""><i class="fa fa-search" aria-hidden="true"></i></button>
    </span>

    <button type="button" class="btn btn-outline-primary" [routerLink]="[ '/tasks/task-add']">发布任务</button>
  </div>
</div>
<ul class="list-unstyled">
  <li class="media">
    <!--
    <img class="mr-3" src="holder.js/64x64/auto/#777:#555/text:First slide" alt="Generic placeholder image">
    <div class="mr-3" [routerLink]="[ '/tasks/task-detail', 1 ]">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </div>
-->
    <div class="media-body">
      <h5 class="mt-0 mb-2">
        <a [routerLink]="[ '/tasks/task-details', 1 ]">知乎是网络问答社区开业</a>
      </h5>
      <div class="row">
        <div class="col-6">
          <span class="badge badge-pill badge-info">朋友圈转发图片</span>
          <span class="badge badge-pill badge-primary">兑换奖品</span>
          <span class="badge badge-pill badge-warning">4小时后结束</span>
        </div>
        <div class="col-6">
          <div class="progress mt-2">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">任务量:12/50</div>
          </div>
        </div>
      </div>
      <p class="form-text text-muted">
        知乎是网络问答社区，连接各行各业的用户。用户分享着彼此的知识、经验和见解，为中文互联网源源不断地提供多种多样的信息。准确地讲，知乎更像一个论坛：用户围绕着某一感兴趣的话题进行相关的讨论，同时可以关注兴趣一致的人
      </p>

    </div>
  </li>
  <li class="media">
    <!--
    <img class="mr-3" src="holder.js/64x64/auto/#777:#555/text:First slide" alt="Generic placeholder image">
    <div class="mr-3" [routerLink]="[ '/tasks/task-detail', 1 ]">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </div>
-->
    <div class="media-body">
      <h5 class="mt-0 mb-1">
        <a [routerLink]="[ '/tasks/task-details', 1 ]">新出火锅买一锅送两锅</a>
      </h5>
      <div class="row">
        <div class="col-6">
          <span class="badge badge-pill badge-info">朋友圈转发图片</span>
          <span class="badge badge-pill badge-primary">现金红包</span>
          <span class="badge badge-pill badge-warning">18小时后结束</span>
        </div>
        <div class="col-6">
          <div class="progress mt-2">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">任务量:75/100</div>
          </div>
        </div>
      </div>
      <p class="form-text text-muted">
        火锅餐饮方便快捷的大众化特色被消费者接受和喜爱，尤其北方地区寒冷干燥的天气让火锅市场潜力很大，而且火锅种类的经营方式也不断创新，有以“麻、辣、烫”著称的重庆火锅是南派火锅，以涮羊肉为主要代表的北派火锅和新派火锅。
      </p>
    </div>
  </li>
</ul>
<div class="text-center"><button type="button" class="btn btn-outline-primary"> <i class="fa fa-eye" aria-hidden="true"></i> 查看更多</button></div>