<div class="jumbotron p-3 mb-3">
  <div class="input-group">
    <input type="text" class="form-control" name="name" id="name" placeholder="搜索" aria-label="" />

    <span class="input-group-btn">
      <button class="btn btn-outline-secondary mr-2" type="button" aria-label="">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </span>

    <button type="button" class="btn btn-outline-primary" [routerLink]="['/tasks/task-add']">
      发布任务
    </button>
  </div>
</div>
<ul class="list-unstyled">
  <li>
    <div class="card mb-2">
      <div class="card-header">
        <h5 class="mt-0 mb-2">
          <a [routerLink]="['/tasks/task-details', 1]">知乎是网络问答社区开业🎁</a>
        </h5>
        <span class="text-secondary mr-1">朋友圈转发图片</span>
        <span class="text-secondary mr-2">
          完成量/任务量 <span class="badge badge-info">20/100</span>
        </span>

        <span class="text-secondary mr-2">
          剩余时间 <span class="badge badge-warning">19小时</span>
        </span>
        <div>
          <span class="text-muted">任任务描述任务描述任务描述任务描述任务描述务描述
            <a [routerLink]="['/tasks/task-details', 1]">更多</a>
          </span>
        </div>

      </div>
    </div>
  </li>

  <li>

    <div class="card">
      <div class="card-header">
        <h5 class="mt-0 mb-2">
          <a [routerLink]="['/tasks/task-details', 1]">知乎是网络问答社区开业</a>
        </h5>
        <div class="row">
          <div class="col-6">
            <span class="text-secondary mr-1">朋友圈转发图片</span>
            <span class="text-success">🎁</span>
          </div>
          <div class="col-lg-6 col-sm-12 text-right">
            <span class="text-secondary mr-2">
              完成量/任务量 <span class="badge badge-info">20/100</span>
            </span>

            <span class="text-secondary mr-2">
              剩余时间 <span class="badge badge-warning">19小时</span>
            </span>
          </div>
        </div>
        <span class="text-muted">任任务描述任务描述任务描述任务描述任务描述务描述
          <a [routerLink]="['/tasks/task-details', 1]">更多</a>
        </span>

      </div>
    </div>
  </li>
  <li class="media">

    <!--
    <div class="mr-3" [routerLink]="['/tasks/task-detail', 1]">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </div>
-->
    <div class="media-body">
      <h5 class="mt-0 mb-2">
        <a [routerLink]="['/tasks/task-details', 1]">知乎是网络问答社区开业</a>
      </h5>
      <div class="row">
        <div class="col-6">
          <span class="text-secondary mr-1">朋友圈转发图片</span>
          <span class="text-success">🎁</span>
        </div>
        <div class="col-lg-6 col-sm-12 text-right">
          <span class="text-secondary mr-2">
            完成量/任务量 <span class="badge badge-info">20/100</span>
          </span>

          <span class="text-secondary mr-2">
            剩余时间 <span class="badge badge-warning">19小时</span>
          </span>
        </div>
      </div>
      <span class="text-muted">任任务描述任务描述任务描述任务描述任务描述务描述
        <a [routerLink]="['/tasks/task-details', 1]">更多</a>
      </span>
      <hr />
    </div>
  </li>
  <li class="media">
    <!--
    <img class="mr-3" src="holder.js/64x64/auto/#777:#555/text:First slide" alt="Generic placeholder image">
    <div class="mr-3" [routerLink]="[ '/tasks/task-detail', 1 ]">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </div>
-->
    <div class="media-body">
      <h5 class="mt-0 mb-1">
        <a [routerLink]="['/tasks/task-details', 1]">新出火锅买一锅送两锅</a>
      </h5>
      <div class="row">
        <div class="col-6">
          <span class="text-secondary mr-2">朋友圈转发图片</span>
          <span class="text-info">4小时后结束</span>

          <span class="text-danger ml-2">💰</span>
        </div>
        <div class="col-6 text-right">
          <span class="text-secondary">任务量:12/50</span>
        </div>
      </div>

      <p class="form-text text-muted">
        火锅餐饮方便快捷的大众化特色被消费者接受和喜爱，尤其北方地区寒冷干燥的天气让火锅市场潜力很大，而且火锅种类的经营方式也不断创新，有以“麻、辣、烫”著称的重庆火锅是南派火锅，以涮羊肉为主要代表的北派火锅和新派火锅。
      </p>
    </div>
  </li>
</ul>
<div class="text-center">
  <button type="button" class="btn btn-outline-primary">
    更多
  </button>
</div>
