<tabset [justified]="true" #staticTabs>
  <tab heading="基本" id="tab1">
    <div class="form-group mt-2">
      <label for="">任务类型</label>
      <select class="form-control" name="" id="">
        <option>朋友圈转发图片</option>
        <option>朋友圈点赞</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">奖励类型</label>
      <select class="form-control" name="" id="">
        <option>礼品</option>
        <option>红包</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">任务领取开始日期</label>
      <input type="text" class=" form-control ng-valid ng-touched ng-dirty" placeholder="" bsDatepicker>
      <small id="helpId" class="text-muted">Help text</small>
    </div>
    <div class="form-group">
      <label for="">任务领取开始时间</label>
      <timepicker></timepicker>
      <small id="helpId" class="text-muted"></small>
    </div>

    <div class="form-group">
      <label for="">任务领取结束日期</label>

      <input type="text" class=" form-control ng-valid ng-touched ng-dirty" placeholder="" bsDatepicker>
      <small id="helpId" class="text-muted">Help text</small>
    </div>

    <div class="form-group">
      <label for="">任务领取结束时间</label>
      <timepicker></timepicker>
      <small id="helpId" class="text-muted"></small>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-outline-primary" (click)="selectTab(1)">下一步</button>
    </div>
  </tab>
  <tab heading="任务">
    <div class="text-center">
      <button type="button" class="btn btn-outline-primary" (click)="selectTab(0)">上一步</button>
      <button type="button" class="btn btn-outline-primary" (click)="selectTab(2)">下一步</button>
    </div>
  </tab>
  <tab heading="奖励">
    <div class="text-center">
      <button type="button" class="btn btn-outline-primary" (click)="selectTab(0)">上一步</button>
      <button type="button" class="btn btn-outline-primary" (click)="selectTab(2)">完成</button>
    </div>
  </tab>
</tabset>
