<div class="form-group">
  <label for="">筛选</label>
  <select class="custom-select" name="" id="">
    <option value="">待提交</option>
    <option value="">已提交</option>
    <option value="">已完成</option>
  </select>
</div>

<ul class="list-unstyled">
  <li class="media">
    <a class="d-flex" href="#">
      <img src="" alt="">
    </a>
    <div class="media-body">
      <h5>Media heading</h5>
      Media text
    </div>
    <div class="btn-group" role="group" aria-label="">
      <button type="button" class="btn btn-secondary">查看</button>
      <button type="button" class="btn btn-secondary">取消</button>
      <button type="button" class="btn btn-secondary">提交</button>
    </div>
  </li>
  <li class="media">
    <a class="d-flex" href="#">
      <img src="" alt="">
    </a>
    <div class="media-body">
      <h5>Media heading</h5>
      Media text
    </div>
  </li>
  <li class="media">
    <a class="d-flex" href="#">
      <img src="" alt="">
    </a>
    <div class="media-body">
      <h5>Media heading</h5>
      Media text
    </div>
  </li>
</ul>
